html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(./dannie-jing-3GZlhROZIQg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;

  font-family: sans-serif;
}

.content-wrapper {
  /* border: 1px solid red; */
  margin-right: auto;
  margin-left: auto;

  max-width: 345px;

  padding-right: 5px;
  padding-left: 5px;

  text-align: center;
}

.content-card {
  /* border: 1px solid blue; */
  width: 335px;
  margin: 50px auto;
  text-align: center;
}

img {
  width: 300px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 150px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#purchase-btn {
  background: white;
  border: 1px solid black;
  color: black;
  margin-top: 20px;
}

#error {
  color: red;
}
